{% extends 'base.html.twig' %}

{% block title %}Edit CommandeProducts{% endblock %}

{% block body %}
    <h1>Edit CommandeProducts</h1>

    {{ include('commande_products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commande_products_index') }}">back to list</a>

    {{ include('commande_products/_delete_form.html.twig') }}
{% endblock %}
